<html>
<meta charset="UTF-8">
<head>
    <title>Az 104 test</title>
</head>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
<style>
    body {
        background-color: #E4E7ED;
    }
</style>
<body>
<div id="app">
    <el-row>
        <h2 style="text-align: center">Az 104 test</h2>
    </el-row>
    <el-row>
        <el-col :span="12" :offset="6">
            <h1>Questions</h1>
            <div v-for="(question, qIndex) in questions">
                <h3 :style="convertQuestionNameStypequestion(question.answerResult)">{{ question.name }}</h3>
                <template v-if="question.type === 'single'">
                    <div v-for="option in question.optionCount" :key="option">
                        <input @change="singleAnswerSelected(question)" type="radio" :value="option"
                               v-model="question.selectedAnswer">
                        <label>{{ option }}</label>
                    </div>
                </template>
                <template v-else-if="question.type === 'orderSelect'">
                    <div v-for="option in question.optionCount" :key="option">
                        <input @change="orderSelectAnswerSelected(question)" type="checkbox" :value="option"
                               v-model="question.selectedAnswer">
                        <label>{{ option }}</label>
                    </div>
                </template>
                <template v-else-if="question.type === 'multiSelect'">
                    <div v-for="option in question.optionCount" :key="option">
                        <input @change="multiSelectAnswerSelected(question)" type="checkbox" :value="option"
                               v-model="question.selectedAnswer">
                        <label>{{ option }}</label>
                    </div>
                </template>
            </div>
        </el-col>
    </el-row>
</div>
<script src="plugins/vue.js"></script>
<script src="plugins/element.min.js"></script>
<script type="text/javascript">
    class Question {
        constructor(name, type, answer, optionCount = null) {
            this.name = name
            // single, multiSelect, orderSelect
            this.type = type
            // unselect, correct, wrong
            this.answer = answer
            // defalut count = 4
            this.optionCount = optionCount ?? 4

            this.selectedAnswer = name === 'single' ? null : []
            this.answerResult = 'unselect'
        }
    }

    new Vue({
        el: '#app',
        data() {
            return {
                questions: [
                    new Question('1-1', 'single', 'c'),
                    new Question('1-2', 'single', 'b'),
                ],
            };
        },
        methods: {
            convertToOptionAnswer(answer) {
                switch (answer) {
                    case 'a':
                        return 1;
                    case 'b':
                        return 2;
                    case 'c':
                        return 3;
                    case 'd':
                        return 4;
                    case 'e':
                        return 5;
                }

                return answer;
            },
            singleAnswerSelected(question) {
                let correctAnswer = this.convertToOptionAnswer(question.answer);
                if (correctAnswer == question.selectedAnswer) {
                    question.answerResult = 'correct';
                    toastr.success('correct');
                } else {
                    question.answerResult = 'wrong';
                    toastr.error('error');
                }
            },
            orderSelectAnswerSelected(question) {
                if (question.answer.length !== question.selectedAnswer.length) {
                    return;
                }

                if (JSON.stringify(question.answer) == JSON.stringify(question.selectedAnswer)) {
                    question.answerResult = 'correct';
                    toastr.success('correct');
                } else {
                    question.answerResult = 'wrong';
                    toastr.error('error');
                }
            },
            multiSelectAnswerSelected(question) {
                if (question.answer.length !== question.selectedAnswer.length) {
                    return;
                }

                if (JSON.stringify(question.answer.slice().sort()) ==
                    JSON.stringify(question.selectedAnswer.slice().sort())) {
                    question.answerResult = 'correct';
                    toastr.success('correct');
                } else {
                    question.answerResult = 'wrong';
                    toastr.error('error');
                }
            },
            convertQuestionNameStypequestion(answerResult) {
                let color = null;
                switch (answerResult) {
                    case 'unselect':
                        color = 'black';
                        break;
                    case 'correct':
                        color = 'green';
                        break;
                    case 'wrong':
                        color = 'red';
                        break;
                }

                return 'color:' + color;
            }
        },
        watch: {},
        computed: {},
    })
</script>
</body>
</html>