<html>
<meta charset="UTF-8">
<head>
    <title>Az 104 test</title>
</head>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
<style>
    body {
        background-color: #E4E7ED;
    }
</style>
<body>
<div id="app">
    <el-row>
        <h2 style="text-align: center">Az 104 test</h2>
    </el-row>
    <el-row>
        <el-col :span="12" :offset="6">
            <h1>Questions</h1>
            <div v-for="(question, qIndex) in questions">
                <h3 :style="convertQuestionNameStypequestion(question.answerResult)">{{ question.name }}</h3>
                <template v-if="question.type === 'single'">
                    <div v-for="option in question.optionCount" :key="option">
                        <input @change="singleAnswerSelected(question)" type="radio" :value="option"
                               v-model="question.selectedAnswer">
                        <label>{{ optionDisplay(option) }}</label>
                    </div>
                </template>
                <template v-else-if="question.type === 'orderSelect'">
                    <div v-for="option in question.optionCount" :key="option">
                        <input @change="orderSelectAnswerSelected(question)" type="checkbox" :value="option"
                               v-model="question.selectedAnswer">
                        <label>{{ optionDisplay(option) }}</label>
                    </div>
                </template>
                <template v-else-if="question.type === 'multiSelect'">
                    <div v-for="option in question.optionCount" :key="option">
                        <input @change="multiSelectAnswerSelected(question)" type="checkbox" :value="option"
                               v-model="question.selectedAnswer">
                        <label>{{ optionDisplay(option) }}</label>
                    </div>
                </template>
            </div>
        </el-col>
    </el-row>
</div>
<script src="plugins/vue.js"></script>
<script src="plugins/element.min.js"></script>
<script type="text/javascript">
    class Question {
        constructor(name, type, answer, optionCount = null) {
            this.name = name
            // single, multiSelect, orderSelect
            this.type = type
            // unselect, correct, wrong
            this.answer = answer
            // defalut count = 4
            this.optionCount = optionCount ?? 4

            this.selectedAnswer = name === 'single' ? null : []
            this.answerResult = 'unselect'
        }
    }

    new Vue({
        el: '#app',
        data() {
            return {
                questions: [
                    new Question('1-1', 'single', 'C'),
                    new Question('1-2', 'single', 'B'),
                    new Question('1-3', 'single', 'B'),
                    new Question('1-4', 'single', 'A'),
                    new Question('1-5', 'single', 'D'),
                    new Question('1-6', 'single', 'B'),
                    new Question('1-7', 'single', 'B'),
                    new Question('1-8', 'single', 'B'),
                    new Question('1-9', 'single', 'B'),
                    new Question('1-10', 'single', 'B'),
                    new Question('1-11', 'single', 'B'),
                    new Question('1-12', 'single', 'B'),
                    new Question('1-13', 'single', 'B'),
                    new Question('1-14', 'single', 'A'),
                    new Question('1-15', 'single', 'B'),
                    new Question('1-16', 'multiSelect', ['C']),
                    new Question('1-17', 'multiSelect', ['C']),
                    new Question('1-18', 'single', 'D'),
                    new Question('1-19', 'single', 'B'),
                    new Question('1-20', 'multiSelect', ['An azure key vault', 'access policy']),
                    new Question('1-21', 'single', 'A'),
                    new Question('1-22', 'single', 'B'),
                    new Question('1-23', 'multiSelect', ['Hyper-V site', 'Azure Recovery Service Vault', 'Replication policy']),
                    new Question('1-24', 'single', 'B'),
                    new Question('1-25', 'single', 'B'),
                    new Question('1-26', 'single', 'A'),
                    new Question('1-27', 'single', 'C'),
                    new Question('1-28', 'single', 'B'),
                    new Question('1-29', 'single', 'B'),
                    new Question('1-30', 'single', 'A'),
                    new Question('1-31', 'multiSelect', ['E']),
                    new Question('1-32', 'single', 'A'),
                    new Question('1-33', 'single', 'D'),
                    new Question('1-34', 'single', 'B'),
                    new Question('1-35', 'single', 'C'),
                    new Question('1-36', 'single', 'B'),
                    new Question('1-37', 'multiSelect', ['A', 'B', 'C', 'D', 'E']),
                    new Question('1-38', 'single', 'B'),
                    new Question('1-39', 'single', 'B'),
                    new Question('1-40', 'single', 'A'),
                    new Question('2-1', 'multiSelect', ['network LB1', 'network LB2']),
                    new Question('2-2', 'single', 'B'),
                    new Question('2-3', 'multiSelect', ['A', 'C']),
                    new Question('2-4', 'multiSelect', ['N', 'N', 'Y']),
                    new Question('2-5', 'multiSelect', ['N', 'N', 'N']),
                    new Question('2-6', 'single', 'B'),
                    new Question('2-7', 'multiSelect', ['D1']),
                    new Question('2-8', 'single', 'C'),
                    new Question('2-9', 'single', 'C'),
                    new Question('2-10', 'single', 'B'),
                    new Question('2-11', 'single', 'A'),
                    new Question('2-12', 'single', 'C'),
                    new Question('2-13', 'single', 'A'),
                    new Question('2-14', 'multiSelect', ['N', 'Y', 'N']),
                    new Question('2-15', 'single', 'C'),
                    new Question('2-16', 'single', 'B'),
                    new Question('2-17', 'single', 'A'),
                    new Question('2-18', 'single', 'B'),
                    new Question('2-19', 'single', 'B'),
                    new Question('2-20', 'single', 'A'),
                    new Question('2-21', 'multiSelect', ['assign a tag to each resource', 'from the cost analysis blade', 'filter the view by tog', 'download the usage report']),
                    new Question('2-22', 'single', 'B'),
                    new Question('2-23', 'multiSelect', ['Y', 'Y', 'N']),
                    new Question('2-24', 'single', 'A'),
                    new Question('2-25', 'multiSelect', ['A', 'E']),
                    new Question('2-26', 'multiSelect', ['A', 'E']),
                    new Question('2-27', 'single', 'B'),
                    new Question('2-28', 'multiSelect', ['keep simple, without conditions', 'access control should always grant', 'useras and groups+could apps', 'grant']),
                    new Question('2-29', 'single', 'A'),
                    new Question('2-30', 'single', 'C'),
                    new Question('2-31', 'multiSelect', ['group 1 only', 'group 1 and 2 only']),
                    new Question('2-32', 'multiSelect', ['1', '3']),
                    new Question('2-33', 'single', 'A'),
                    new Question('2-34', 'single', 'A'),
                    new Question('2-35', 'single', 'B'),
                    new Question('2-36', 'single', 'C'),
                    new Question('2-37', 'multiSelect', ['Y', 'Y', 'N']),
                    new Question('2-38', 'single', 'A'),
                    new Question('2-39', 'single', 'B'),
                    new Question('2-40', 'single', 'A'),
                    new Question('2-41', 'multiSelect', ['costco -> need a fake(custom) name -> go costco -> verify', 'Add a custom name', 'add a record to the public contoso.com DNS zone']),
                    new Question('2-42', 'single', 'B'),
                    new Question('2-43', 'single', 'D'),
                    new Question('2-44', 'multiSelect', ['Y', 'N', 'Y']),
                    new Question('2-45', 'multiSelect', ['1', '3']),
                    new Question('2-46', 'multiSelect', ['Sub1 RG1 and VM1', 'Sub1, RG1 and VM1']),
                    new Question('2-47', 'single', 'B'),
                    new Question('2-48', 'multiSelect', ['N', 'N', 'N']),
                    new Question('2-49', 'single', 'B'),
                    new Question('2-50', 'single', 'B'),
                    new Question('2-51', 'single', 'A'),
                    new Question('2-52', 'single', 'assign access to other users for, delete'),
                    new Question('2-53', 'single', 'B'),
                    new Question('2-54', 'multiSelect', ['dataActions', 'assignableScopes']),
                    new Question('2-55', 'single', 'A'),
                    new Question('2-56', 'single', 'B'),
                    new Question('2-57', 'single', 'TMSR > MSRV'),
                    new Question('2-58', 'single', 'A'),
                    new Question('2-59', 'single', 'B'),
                    new Question('2-60', 'single', 'B'),
                    new Question('2-61', 'single', 'A'),
                    new Question('2-62', 'multiSelect', ['B', 'D']),
                    new Question('2-63', 'single', 'B'),
                    new Question('2-64', 'single', 'C'),
                    new Question('2-65', 'single', 'B'),
                    new Question('2-66', 'multiSelect', ['Role1 and built-in', 'role2 only']),
                    new Question('2-67', 'multiSelect', ['reader and data access', 'owner']),
                    new Question('2-68', 'single', 'B'),
                    new Question('2-69', 'single', 'B'),
                    new Question('2-70', 'multiSelect', ['N', 'N', 'Y']),
                    new Question('2-71', 'single', 'C'),
                    new Question('2-72', 'multiSelect', ['N', 'N', 'Y']),
                    new Question('2-73', 'single', 'B'),
                    new Question('2-74', 'single', 'B'),
                    new Question('2-75', 'multiSelect', ['Y', 'N', 'Y']),
                    new Question('2-76', 'single', 'B'),
                    new Question('2-77', 'multiSelect', ['Y', 'Y', 'N']),
                    new Question('2-78', 'single', 'D'),
                    new Question('2-79', 'single', 'B'),
                    new Question('2-80', 'multiSelect', ['Y', 'N', 'N']),
                    new Question('2-81', 'multiSelect', ['1', '3', '123']),
                    new Question('2-82', 'single', 'B'),
                    new Question('2-83', 'single', 'A'),
                    new Question('2-84', 'single', 'C'),
                    new Question('2-85', 'single', 'D'),
                    new Question('2-86', 'multiSelect', ['Ad and SAS', 'SAS only']),
                    new Question('2-87', 'single', 'Identities'),
                    new Question('2-88', 'single', 'C'),
                    new Question('2-89', 'single', 'C'),
                    new Question('2-90', 'single', 'B'),
                    new Question('2-91', 'multiSelect', ['user.department', 'and', '-eq']),
                    new Question('2-92', 'multiSelect', ['what default can have any permission!', 'Users can register application', 'Restrict access to Azure AD admistartion portal']),
                    new Question('2-93', 'multiSelect', ['N', 'N', 'Y']),
                    new Question('2-94', 'single', 'B'),
                    new Question('2-95', 'multiSelect', ['N', 'N', 'Y']),
                    new Question('2-96', 'single', 'B'),
                    new Question('2-97', 'single', 'B'),
                    new Question('2-98', 'single', 'B'),
                    new Question('2-99', 'single', 'C'),
                    new Question('3-1', 'single', 'D'),
                    new Question('3-2', 'multiSelect', ['12', 'all']),
                    new Question('3-3', 'single', 'B'),
                    new Question('3-4', 'multiSelect', ['IAM', 'SAS']),
                    new Question('3-5', 'multiSelect', ['V2', 'GRS']),
                    new Question('3-6', 'multiSelect', ['B', 'C', 'E']),
                    new Question('3-7', 'multiSelect', ['Y', 'N', 'N']),
                    new Question('3-8', 'multiSelect', ['attach', 'create import job', 'detach', 'update import job']),
                    new Question('3-9', 'multiSelect', ['N', 'Y', 'Y']),
                    new Question('3-10', 'multiSelect', ['go costco buy file', 'windowns file(windows not blob)', 'get data (learning data)']),
                    new Question('3-11', 'multiSelect', ['make', 'blob', 'copy']),
                    new Question('3-12', 'multiSelect', ['1', '123']),
                    new Question('3-13', 'multiSelect', ['never', 'never']),
                    new Question('3-14', 'multiSelect', ['N', 'N', 'Y']),
                    new Question('3-15', 'single', 'B'),
                    new Question('3-16', 'multiSelect', ['A', 'C']),
                    new Question('3-17', 'multiSelect', ['Install the azure file sync agent on Server1', 'register server1', 'add a server endpoint']),
                    new Question('3-18', 'multiSelect', ['ZRS', 'v2']),
                    new Question('3-19', 'multiSelect', ['B', 'E']),
                    new Question('3-20', 'single', 'D'),
                    new Question('3-21', 'multiSelect', ['vm1 only', 'share only']),
                    new Question('3-22', 'single', 'C'),
                    new Question('3-23', 'multiSelect', ['3', 'access tier']),
                    new Question('3-24', 'single', 'B'),
                    new Question('3-25', 'multiSelect', ['AD and SAS only', 'SAS only']),
                    new Question('3-26', 'single', 'A'),
                    new Question('3-27', 'single', 'D'),
                    new Question('3-28', 'single', 'B'),
                    new Question('3-29', 'multiSelect', ['create storage sync service', 'create a sync group']),
                    new Question('3-30', 'multiSelect', ['N', 'Y', 'N']),
                    new Question('3-31', 'multiSelect', ['3', '123']),
                    new Question('3-32', 'multiSelect', ['104', '101+103']),
                    new Question('3-33', 'multiSelect', ['will have no access', 'will have no access', '09/10']),
                    new Question('3-34', 'single', 'A'),
                    new Question('3-35', 'single', 'C'),
                    new Question('3-36', 'single', 'D'),
                    new Question('3-37', 'single', 'C'),
                    new Question('3-38', 'single', 'A'),
                    new Question('3-39', 'multiSelect', ['Y', 'Y', 'N']),
                    new Question('3-40', 'single', 'B'),
                    new Question('3-41', 'single', 'B'),
                    new Question('3-42', 'multiSelect', ['N', 'Y', 'Y']),
                    new Question('3-43', 'multiSelect', ['B', 'C']),
                    new Question('3-44', 'multiSelect', ['v2 or blob only', 'container']),
                    new Question('3-45', 'single', 'C'),
                    new Question('3-46', 'single', 'A'),
                    new Question('3-47', 'multiSelect', ['SAS', 'SAS']),
                    new Question('3-48', 'single', 'D'),
                    new Question('3-49', 'multiSelect', ['N', 'N', 'N']),
                    new Question('3-50', 'multiSelect', ['N', 'N', 'Y']),
                    new Question('3-51', 'single', 'C'),
                    new Question('3-52', 'multiSelect', ['tierToArchive', 'prefixMatch']),
                    new Question('3-53', 'multiSelect', ['Create', 'Set ZR', 'For VM1']),
                    new Question('3-54', 'single', 'B'),
                    new Question('3-55', 'single', 'D'),
                    new Question('3-56', 'single', 'E'),
                    new Question('3-57', 'multiSelect', ['folder1 and container 1', 'table 1 only']),
                    new Question('3-58', 'multiSelect', ['3', '1']),
                    new Question('3-59', 'multiSelect', ['3', '1']),
                    new Question('3-60', 'single', 'A'),
                    new Question('3-61', 'single', 'D'),
                    new Question('3-62', 'multiple', ['1', '2', '3']),
                    new Question('3-63', 'single', 'C'),
                    new Question('3-64', 'single', 'B'),
                    new Question('3-65', 'single', 'B'),
                    new Question('3-66', 'single', 'A'),
                    new Question('3-67', 'single', 'B'),
                    new Question('3-68', 'single', 'E'),
                    new Question('3-69', 'multiple', ['N', 'Y', 'Y']),
                    new Question('3-70', 'single', 'C'),
                    new Question('3-71', 'multiple', ['Default Routing Tier', 'Encryption Type']),
                    new Question('3-72', 'single', 'RSA, 4096'),
                    new Question('3-73', 'single', 'A'),
                    new Question('3-74', 'single', 'B'),
                    new Question('3-75', 'single', '/*, StorageAccount/read'),
                    new Question('3-76', 'single', 'C'),
                    new Question('3-77', 'multiple', ['PremiumSSD(ZRS)/Read-only', 'ZRS, Premium, Read only']),
                    new Question('3-78', 'multiple', ['B', 'E']),
                    new Question('3-79', 'single', 'C'),
                    new Question('3-80', 'multiple', ['B', 'O', 'B']),
                    new Question('3-81', 'single', 'B'),
                    new Question('3-82', 'multiple', ['B', 'C', 'E']),
                    new Question('3-83', 'multiple', ['Y', 'N', 'N']),
                    new Question('3-84', 'single', 'B'),
                    new Question('3-85', 'single', 'D'),
                    new Question('3-86', 'single', '3'),
                    new Question('3-87', 'multiple', ['BlockBlob', 'Container1', 'Finance']),
                    new Question('3-88', 'multiple', ['Container', 'Object', 'read']),
                    new Question('3-89', 'multiple', ['N', 'Y', 'N']),
                    new Question('4-1', 'single', 'B'),
                    new Question('4-2', 'single', 'A'),
                    new Question('4-3', 'single', 'B'),
                    new Question('4-4', 'single', 'B'),
                    new Question('4-5', 'multiple', ['Delete VM1', 'Create a new virtual machine']),
                    new Question('4-6', 'single', 'A'),
                    new Question('4-7', 'multiple', ['13', '1']),
                    new Question('4-8', 'multiple', ['6', '2']),
                    new Question('4-9', 'single', 'AD'),
                    new Question('4-10', 'single', 'az, aks'),
                    new Question('4-11', 'multiple', ['Upload', 'Compile', 'Check']),
                    new Question('4-12', 'single', 'A'),
                    new Question('4-13', 'single', 'A'),
                    new Question('4-14', 'single', 'A'),
                    new Question('4-15', 'single', 'B'),
                    new Question('4-16', 'single', 'B'),
                    new Question('4-17', 'single', 'A'),
                    new Question('4-18', 'single', 'B'),
                    new Question('4-19', 'single', 'A'),
                    new Question('4-20', 'single', 'B'),
                    new Question('4-21', 'single', 'A'),
                    new Question('4-22', 'single', 'B'),
                    new Question('4-23', 'multiple', ['Y', 'N', 'N']),
                    new Question('4-24', 'multiple', ['2', '7']),
                    new Question('4-25', 'single', 'A'),
                    new Question('4-26', 'single', 'B'),
                    new Question('4-27', 'multiple', ['Can connect to container from any device', 'The container will restart automatically']),
                    new Question('4-28', 'single', 'C'),
                    new Question('4-29', 'single', 'AD'),
                    new Question('4-30', 'multiple', ['D', 'E', 'F']),
                    new Question('4-31', 'single', 'D'),
                    new Question('4-32', 'single', 'B'),
                    new Question('4-33', 'multiple', ['VM1 and VM2 to run', 'One email notification']),
                    new Question('4-34', 'single', 'B'),
                    new Question('4-35', 'single', 'B'),
                    new Question('4-36', 'single', 'C'),
                    new Question('4-37', 'multiple', ['N', 'Y', 'Y']),
                    new Question('4-38', 'multiple', ['1-1', '2-2+3-3']),
                    new Question('4-39', 'multiple', ['60', '12']),
                    new Question('4-40', 'single', 'D'),
                    new Question('4-41', 'multiple', ['B', 'D']),
                    new Question('4-42', 'single', 'A'),
                    new Question('4-43', 'single', 'A'),
                    new Question('4-44', 'single', 'B'),
                    new Question('4-45', 'single', 'B'),
                    new Question('4-46', 'single', 'A'),
                    new Question('4-47', 'single', 'B'),
                    new Question('4-48', 'single', 'web VM1, can web server and DNS'),
                    new Question('4-49', 'single', 'C'),
                    new Question('4-50', 'single', 'D'),
                    new Question('4-51', 'single', 'B'),
                    new Question('4-52', 'single', 'B'),
                    new Question('4-53', 'multiple', ['10.244', '10.0.0.0/16']),
                    new Question('4-54', 'multiple', ['2', '4']),
                    new Question('4-55', 'single', 'C'),
                    new Question('4-56', 'single', 'C'),
                    new Question('4-57', 'multiple', ['4', '1']),
                    new Question('4-58', 'single', 'B'),
                    new Question('4-59', 'single', 'B'),
                    new Question('4-60', 'single', 'Any, VM1 or a new'),
                    new Question('4-61', 'single', 'B'),
                    new Question('4-62', 'single', 'B'),
                    new Question('4-63', 'multiple', ['3', '20']),
                    new Question('4-64', 'single', 'A'),
                    new Question('4-65', 'multiple', ['3', '1']),
                    new Question('4-66', 'single', 'A'),
                    new Question('4-67', 'single', 'B'),
                    new Question('4-68', 'fill-in', 'New-AzResourceGroupDeployment, ResourceGroupName RG'),
                    new Question('4-69', 'single', 'B'),
                    new Question('4-70', 'single', 'B'),
                    new Question('4-71', 'single', 'A'),
                    new Question('4-73', 'multiple', ['copy', 'copyIndex']),
                    new Question('4-74', 'single', 'A'),
                    new Question('4-75', 'single', 'B'),
                    new Question('4-76', 'single', 'A'),
                    new Question('4-77', 'single', 'D'),
                    new Question('4-78', 'multiple', ['An Azure Storage account', 'A backup filter file']),
                    new Question('4-79', 'single', 'C'),
                    new Question('4-80', 'multiple', ['Microsoft Compute/ virtualMachines/extensions', 'ProtectedSettings']),
                    new Question('4-82', 'multiple', ['modify the Network configuration setting', 'AKS managed Azure Active Directory']),
                    new Question('4-83', 'multiple', ['update', 'max-surge 2']),
                    new Question('4-84', 'multiple', ['Y', 'N', 'Y']),
                    new Question('4-85', 'single', 'A'),
                    new Question('4-86', 'multiple', ['resourceGroupName', 'Complete']),
                    new Question('4-87', 'multiple', ['2', '5']),
                    new Question('4-88', 'single', 'D'),
                    new Question('4-89', 'single', 'A'),
                    new Question('4-90', 'single', 'D'),
                    new Question('4-91', 'multiple', ['resourceId', 'imageReference']),
                    new Question('4-92', 'multiple', ['Standard', 'TXT']),
                    new Question('4-93', 'multiple', ['Y', 'Y', 'Y']),
                    new Question('4-94', 'single', 'B'),
                    new Question('4-95', 'multiple', ['Y', 'N', 'N']),
                    new Question('4-96', 'single', 'D'),
                    new Question('4-97', 'multiple', ['Azure Container Instances and App Services only', 'Azure Container Instances, Azure Container Apps, App Services']),
                    new Question('4-98', 'single', 'A'),
                    new Question('4-99', 'single', 'B'),
                    new Question('4-100', 'single', 'A'),
                    new Question('4-101', 'single', 'D'),
                    new Question('4-102', 'multiple', ['Y', 'N', 'Y']),
                    new Question('4-103', 'single', 'C'),
                    new Question('5-1', 'multiple', ['Internal Load Balancer', 'An application gateway that uses the WAF tier']),
                    new Question('5-2', 'single', 'B'),
                    new Question('5-3', 'multiple', ['5', '1']),
                    new Question('5-4', 'single', 'A'),
                    new Question('5-5', 'multiple', ['Private only', 'Private only']),
                    new Question('5-6', 'multiple', ['Workspace', 'NSG1']),
                    new Question('5-7', 'single', 'C'),
                    new Question('5-8', 'multiple', ['B', 'D', 'E']),
                    new Question('5-9', 'single', 'A'),
                    new Question('5-10', 'multiple', ['Y', 'Y', 'N']),
                    new Question('5-11', 'single', 'D'),
                    new Question('5-12', 'multiple', ['Remove peering between VNet1 and VNet2', 'Add', 'Recreate']),
                    new Question('5-13', 'multiple', ['Y', 'Y', 'N']),
                    new Question('5-14', 'single', 'C'),
                    new Question('5-15', 'single', 'B'),
                    new Question('5-16', 'single', 'D'),
                    new Question('5-17', 'single', 'A'),
                    new Question('5-18', 'single', 'B'),
                    new Question('5-19', 'single', 'A'),
                    new Question('5-20', 'multiple', ['Add an address space', 'Add a subnet']),
                    new Question('5-21', 'single', 'A'),
                    new Question('5-22', 'single', 'A'),
                    new Question('5-23', 'single', 'A'),
                    new Question('5-24', 'single', 'A'),
                    new Question('5-25', 'multiple', ['Y', 'N', 'N']),
                    new Question('5-26', 'multiple', ['Private only', 'Private only']),
                    new Question('5-27', 'multiple', ['Create gateway subnet as part of creating VPN gateway', 'Create virtual network gateway / VPN gateway', 'Create local gateway', 'Create VPN connection']),
                    new Question('5-28', 'single', 'C'),
                    new Question('5-29', 'single', 'D'),
                    new Question('5-30', 'multiple', ['A', 'C']),
                    new Question('5-31', 'multiple', ['123', 'West']),
                    new Question('5-32', 'multiple', ['23', '1']),
                    new Question('5-33', 'single', 'B'),
                    new Question('5-34', 'single', 'B'),
                    new Question('5-35', 'single', 'B'),
                    new Question('5-36', 'single', 'D'),
                    new Question('5-37', 'single', 'D'),
                    new Question('5-38', 'multiple', ['N', 'Y', 'Y']),
                    new Question('5-39', 'single', 'B'),
                    new Question('5-40', 'single', 'A'),
                    new Question('5-41', 'multiple', ['A', 'B', 'C']),
                    new Question('5-42', 'multiple', ['6 only', 'Delete peering1']),
                    new Question('5-43', 'multiple', ['Y', 'Y', 'N']),
                    new Question('5-44', 'multiple', ['Remove the public IP address from VM1', 'Create and configure an NSG']),
                    new Question('5-45', 'single', 'B'),
                    new Question('5-46', 'single', 'B'),
                    new Question('5-47', 'multiple', ['IP flow verify', 'Connection troubleshoot']),
                    new Question('5-48', 'multiple', ['Y', 'N', 'Y']),
                    new Question('5-49', 'multiple', ['IP1, VNET2, and Storage1', 'IP1, VNET2, and Storage1']),
                    new Question('5-50', 'single', 'B'),
                    new Question('5-51', 'single', 'B'),
                    new Question('5-52', 'single', 'A'),
                    new Question('5-53', 'single', 'A'),
                    new Question('5-54', 'single', 'C'),
                    new Question('5-55', 'single', 'B'),
                    new Question('5-56', 'multiple', ['N', 'Y', 'Y']),
                    new Question('5-57', 'single', 'B'),
                    new Question('5-58', 'single', 'B'),
                    new Question('5-59', 'single', 'B'),
                    new Question('5-60', 'single', 'B'),
                    new Question('5-61', 'single', 'B'),
                    new Question('5-62', 'single', 'A'),
                    new Question('5-63', 'single', 'A'),
                    new Question('5-64', 'single', 'C'),
                    new Question('5-65', 'multiple', ['Available', 'Connected']),
                    new Question('5-66', 'single', '222'),
                    new Question('5-67', 'single', 'D'),
                    new Question('5-68', 'multiple', ['B', 'C']),
                    new Question('5-69', 'multiple', ['C', 'E']),
                    new Question('5-70', 'multiple', ['N', 'N', 'Y']),
                    new Question('5-71', 'multiple', ['Y', 'Y', 'Y']),
                    new Question('5-72', 'multiple', ['Bastion', '26']),
                    new Question('5-73', 'single', 'A'),
                    new Question('5-74', 'single', 'B'),
                    new Question('5-75', 'single', 'B'),
                    new Question('5-76', 'multiple', ['Remove the public IP address', 'Create a pool', 'Create load balancing rules']),
                    new Question('5-77', 'single', 'B'),
                    new Question('5-78', 'single', 'B'),
                    new Question('5-79', 'multiple', ['Create Azure Virtual WAN', 'Create Virtual Hub', 'Create VPN sites', 'Connect VPN sites to virtual hub']),
                    new Question('5-80', 'multiple', ['N', 'Y', 'N']),
                    new Question('5-81', 'single', 'A'),
                    new Question('5-82', 'single', 'C'),
                    new Question('5-83', 'multiple', ['Outbound', '10.1.0.10', '10.1.0.11', '110']),
                    new Question('5-84', 'single', 'B'),
                    new Question('5-85', 'single', 'A'),
                    new Question('5-86', 'single', 'C'),
                    new Question('5-87', 'single', 'B'),
                    new Question('5-88', 'multiple', ['10.0.0.0/16', 'Appliance', 'Gateway subnet']),
                    new Question('5-89', 'single', 'D'),
                    new Question('5-90', 'multiple', ['N', 'Y', 'Y']),
                    new Question('5-91', 'multiple', ['D', 'E']),
                    new Question('5-92', 'single', 'B'),
                    new Question('5-93', 'multiple', ['Y', 'N', 'Y']),
                    new Question('5-94', 'multiple', ['N', 'Y', 'Y']),
                    new Question('5-95', 'single', 'D'),
                    new Question('5-96', 'multiple', ['N', 'Y', 'Y']),
                    new Question('5-97', 'multiple', ['Y', 'N', 'Y']),
                    new Question('5-98', 'single', 'C'),
                    new Question('5-99', 'single', 'C'),
                    new Question('5-100', 'single', 'B'),
                    new Question('5-101', 'single', 'C'),
                    new Question('5-102', 'single', 'B'),
                    new Question('5-103', 'single', 'D'),
                    new Question('5-104', 'single', 'D'),
                    new Question('5-105', 'single', 'B'),
                    new Question('5-106', 'single', 'B'),
                    new Question('5-107', 'multiple', ['Auto', 'VNET1 DNS']),
                    new Question('5-108', 'single', 'C'),
                    new Question('5-109', 'single', 'C'),
                    new Question('5-110', 'single', 'B'),
                    new Question('5-111', 'multiple', ['N', 'N', 'N']),
                    new Question('5-112', 'single', 'C'),
                    new Question('5-113', 'single', 'A'),
                    new Question('5-114', 'single', 'C'),
                    new Question('5-115', 'single', 'A'),
                    new Question('5-116', 'single', 'C'),
                    new Question('5-117', 'single', 'C'),
                    new Question('5-118', 'single', 'D'),
                    new Question('5-119', 'single', 'D'),
                    new Question('5-120', 'multiple', ['SKU', 'Native client support', 'CLI on Device']),
                    new Question('5-122', 'single', 'A'),
                    new Question('5-124', 'single', 'D'),
                    new Question('5-125', 'single', 'D'),
                    new Question('5-131', 'single', 'C'),
                    new Question('5-132', 'single', 'A'),
                    new Question('5-133', 'single', 'B'),
                    new Question('5-134', 'single', 'B'),
                    new Question('5-135', 'multiple', ['3', '/23']),
                    new Question('5-136', 'single', 'A'),
                    new Question('5-137', 'multiple', ['N', 'Y', 'N']),
                    new Question('5-138', 'multiple', ['Y', 'N', 'Y']),
                    new Question('5-139', 'single', 'D'),
                    new Question('5-140', 'single', 'B'),
                    new Question('5-141', 'multiple', ['N', 'Y', 'N']),
                    new Question('5-142', 'multiple', ['Virtual Network', 'Network Interface', 'Virtual Machine', 'Azure Monitor Extension']),
                    new Question('5-143', 'single', 'A'),
                    new Question('5-144', 'single', 'B'),
                    new Question('5-145', 'single', 'B'),
                    new Question('5-146', 'single', 'D'),
                    new Question('5-147', 'multiple', ['/26', 'Standard SKU']),
                    new Question('6-1', 'single', 'B'),
                    new Question('6-2', 'single', 'A'),
                    new Question('6-3', 'single', 'A'),
                    new Question('6-4', 'multiple', ['4', '3']),
                    new Question('6-5', 'single', 'D'),
                    new Question('6-6', 'multiple', ['6', '8']),
                    new Question('6-7', 'multiple', ['Insight Agent', 'Insight Agent']),
                    new Question('6-8', 'single', 'D'),
                    new Question('6-9', 'multiple', ['NNN']),
                    new Question('6-10', 'single', 'B'),
                    new Question('6-11', 'multiple', ['NNY']),
                    new Question('6-12', 'multiple', ['NNY']),
                    new Question('6-13', 'single', 'A'),
                    new Question('6-14', 'single', 'C'),
                    new Question('6-18', 'single', 'D'),
                    new Question('6-19', 'single', 'D'),
                    new Question('6-20', 'single', 'A'),
                    new Question('6-21', 'single', 'B'),
                    new Question('6-22', 'multiple', ['AzureActivity', 'Project']),
                    new Question('6-23', 'single', 'D'),
                    new Question('6-25', 'multiple', ['13', '14']),
                    new Question('6-26', 'multiple', ['NYY']),
                    new Question('6-27', 'multiple', ['YYN']),
                    new Question('6-28', 'single', 'C'),
                    new Question('6-30', 'single', 'D'),
                    new Question('6-32', 'single', 'C'),
                    new Question('6-33', 'single', 'A'),
                    new Question('6-34', 'single', 'A'),
                    new Question('6-35', 'single', 'B'),
                    new Question('6-36', 'multiple', ['12', '1']),
                    new Question('6-37', 'single', 'A'),
                    new Question('6-38', 'single', 'B'),
                    new Question('6-39', 'single', 'B'),
                    new Question('6-40', 'single', 'D'),
                    new Question('6-41', 'multiple', ['YNY']),
                    new Question('6-42', 'single', 'B'),
                    new Question('6-43', 'single', 'A'),
                    new Question('6-44', 'single', 'C'),
                    new Question('6-45', 'single', 'A'),
                    new Question('6-46', 'multiple', ['BD']),
                    new Question('6-47', 'single', 'A'),
                    new Question('6-50', 'multiple', ['YNN']),
                    new Question('6-51', 'single', 'C'),
                    new Question('6-52', 'multiple', ['backup1 only', 'recovery1 only']),
                    new Question('6-53', 'single', 'D'),
                    new Question('6-54', 'single', 'A'),
                    new Question('6-55', 'single', 'B'),
                    new Question('6-56', 'single', 'D'),
                    new Question('6-57', 'single', 'B'),
                    new Question('6-58', 'single', 'A'),
                    new Question('6-59', 'multiple', ['YNY']),
                    new Question('7-1', 'multiple', ['selected', 'yes']),
                    new Question('7-2', 'single', 'D'),
                    new Question('8-1', 'multiple', ['3', '6']),
                    new Question('8-2', 'multiple', ['create a log analytics workspace', 'collect Windows performance counters from log analytics agents', 'create an alert rule']),
                    new Question('9-1', 'multiple', ['resource policy contributor for sub1', 'resource']),
                    new Question('9-2', 'single', 'A'),
                    new Question('10-1', 'single', 'D'),
                    new Question('10-2', 'single', 'B'),
                    new Question('10-3', 'multiple', ['YNN']),
                    new Question('11-1', 'multiple', ['23', '2']),
                    new Question('11-2', 'multiple', ['v2', '2']),
                    new Question('11-3', 'single', 'B'),
                    new Question('13-1', 'single', 'B'),
                    new Question('13-2', 'multiple', ['local', 'site-to-site']),
                    new Question('14-1', 'multiple', ['1', '3']),
                    new Question('14-2', 'single', 'A'),
                    new Question('15-1', 'multiple', ['YYN']),
                    new Question('15-3', 'single', 'C'),
                    new Question('15-4', 'single', 'D'),
                    new Question('16-1', 'multiple', ['get-azRoleDefinition', 'To-Json']),
                    new Question('16-2', 'single', 'B'),
                ],
            }
        },
        methods: {
            optionDisplay(option) {
                switch (option) {
                    case 1:
                        return 'A.';
                    case 2:
                        return 'B.';
                    case 3:
                        return 'C.';
                    case 4:
                        return 'D.';
                    case 5:
                        return 'E.';
                }

                return option;
            },
            convertToOptionAnswer(answer) {
                switch (answer) {
                    case 'a':
                    case 'A':
                    case 'Y':
                        return 1;
                    case 'b':
                    case 'B':
                    case 'N':
                        return 2;
                    case 'c':
                    case 'C':
                        return 3;
                    case 'd':
                    case 'D':
                        return 4;
                    case 'e':
                    case 'E':
                        return 5;
                }

                return answer;
            },
            singleAnswerSelected(question) {
                let correctAnswer = this.convertToOptionAnswer(question.answer);
                if (correctAnswer == question.selectedAnswer) {
                    question.answerResult = 'correct';
                    toastr.success('correct');
                } else {
                    question.answerResult = 'wrong';
                    toastr.error('error');
                }
            },
            orderSelectAnswerSelected(question) {
                if (question.answer.length !== question.selectedAnswer.length) {
                    return;
                }

                if (JSON.stringify(question.answer) == JSON.stringify(question.selectedAnswer)) {
                    question.answerResult = 'correct';
                    toastr.success('correct');
                } else {
                    question.answerResult = 'wrong';
                    toastr.error('error');
                }
            },
            multiSelectAnswerSelected(question) {
                if (question.answer.length !== question.selectedAnswer.length) {
                    return;
                }

                if (JSON.stringify(question.answer.slice().sort()) ==
                    JSON.stringify(question.selectedAnswer.slice().sort())) {
                    question.answerResult = 'correct';
                    toastr.success('correct');
                } else {
                    question.answerResult = 'wrong';
                    toastr.error('error');
                }
            },
            convertQuestionNameStypequestion(answerResult) {
                let color = null;
                switch (answerResult) {
                    case 'unselect':
                        color = 'black';
                        break;
                    case 'correct':
                        color = 'green';
                        break;
                    case 'wrong':
                        color = 'red';
                        break;
                }

                return 'color:' + color;
            }
        },
        watch: {},
        computed: {},
    })
</script>
</body>
</html>